<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container"></div>
    <div class="row">

        <div class="col col-sm-6">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate non nesciunt officiis mollitia fugit, suscipit sapiente velit quidem reprehenderit ipsam ipsum alias qui cum architecto eaque autem, perferendis laboriosam? Rem.
        </div>
        <div class="col-sm-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque officia ad vitae explicabo numquam doloribus veritatis esse rem qui iure perspiciatis, voluptates quasi in labore possimus enim laborum. Voluptate, dignissimos?
        </div>
    </div>
    
</body>
</html>